<div class="wrapper">

  <form [formGroup]="myFormGrp">

    <div class="formGroupWrap" [formGroupName]="fg.formGrpName" *ngFor="let fg of FORM_DATA">
      <h4>{{fg.formGrpLabel}}</h4>
      <div *ngFor="let fc of fg.formControls">

        <ng-container [ngSwitch]="fc.type">
          <ng-container *ngSwitchCase="'text'">

            <mat-form-field>
              <mat-label>{{fc.label}}</mat-label>
              <input matInput [formControlName]="fc.name" [name]="fc.name" />
            </mat-form-field>

          </ng-container>
          <ng-container *ngSwitchCase="'textarea'">

            <mat-form-field>
              <mat-label>{{fc.label}}</mat-label>
              <textarea matInput [formControlName]="fc.name" [name]="fc.name"></textarea>
            </mat-form-field>

          </ng-container>
          <ng-container *ngSwitchCase="'checkbox'">

            <mat-checkbox [formControlName]="fc.name">{{fc.label}}</mat-checkbox>

          </ng-container>
        </ng-container>

      </div>
    </div>

  </form>



  <div><button (click)="enableDisableFormGroup ('disable1')">Disable Form Group 1</button></div>
  <div><button (click)="enableDisableFormGroup('disable2')">Disable Form Group 2</button></div>
  <div><button (click)="enableDisableFormGroup('enable1')">Enable Form Group 1</button></div>
  <div><button (click)="enableDisableFormGroup('enable2')">Enable Form Group 2</button></div>
  <div><button (click)="enableDisableFormGroup('reset1')">Reset Form Group 1</button></div>
  <div><button (click)="enableDisableFormGroup ('reset2')">Reset Form Group 2</button></div>
  <div><button (click)="addControl()">Add New Group with Control</button></div>
  <div><button (click)="getValues()">Get Value</button></div>

</div>


<router-outlet></router-outlet>
